.button__container {
    margin-block-start: 5vh;
    margin-block-end: 5vh;
    text-align: center;
}

.button {
    background-color:green;
    border: none;
    color: white;
    align-items: center;
    font-size: 16px;
    height: 40px;
    width: 200px;
}