.display {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    overflow: hidden;
    margin-inline-start: 50vh;
    margin-inline-end: 50vh;
    padding-inline-start: 10vh;
    padding-inline-end: 10vh;
}