.display {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.display > p {
    margin: 10vh;
    overflow: hidden;

}